/* General styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}
.App {
  text-align: left;
  padding: 20px;
}
.banner {
  background: linear-gradient(to right, #ff5e62, #ff9966);
  color: white;
  padding: 50px 20px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.banner h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.banner p {
  font-size: 2rem;
  margin-bottom: 20px;
}
/* Category styling */
.categories {
  margin: 20px 0;
  padding: 0 50px;
}

.categories-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.categories-header h2 {
  font-size: 24px;
  font-weight: bold;
}

.categories-header .see-all {
  text-decoration: none;
  color: #ff6f61;
  font-size: 14px;
}

.categories-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-item {
  text-align: center;
  width: 9%;
  margin-bottom: 20px;
}

.category-item div {
  font-size: 40px;
  margin-bottom: 10px;
}

.category-item h3 {
  font-size: 14px;
  font-weight: normal;
  color: #333;
}

/* Product styling */
.products {
  margin: 40px 0;
  padding: 0 50px;
}

.products h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.products-list {
  display: flex;
  justify-content: space-between;
}

.product-item {
  width: 23%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.product-item img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.product-item h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-item p {
  font-size: 14px;
  color: #666;
  margin: 5px 0;
}

.product-item .price {
  font-size: 20px;
  font-weight: bold;
  color: #ff6f61;
  margin-top: 10px;
}

.product-item .sold {
  font-size: 14px;
  color: #999;
}

.product-item .rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-item .rating span {
  font-size: 14px;
  color: #ff6f61;
}

.product-item .add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.product-item .add-to-cart button {
  background-color: #ff6f61;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}
